@import url(https://fonts.googleapis.com/css?family=Raleway:400,700italic,700,400italic,900italic,900,200italic,200);
/*aca va un comentario en css*/

*{ box-sizing: border-box;
	/*descuenta automaticamente de alto y ancho lo sumado en relleno (padding) y border*/
}

body{
		font-family: 'Raleway', sans-serif;
		margin: 0; /* se puede aplicar margen en 4
					margin-top:;
					margin-right:;
					margin-left:;
					margin-bottom:; 

					SHORT HAND en 3 valores
					20px (top) 30px (de izq y der) 0px (bottom)*/
}


/* Resets (agrupacion de selectores)  limpiar lo mejor posible el html */


ul, ol{
		list-style: none; /* saca bullets o viñetas numeradas en las listas*/
		margin: 0;
		padding: 0;  /* padding-top: ;
						padding-right: ;
						padding-left: ;
						padding-bottom: ; */ 
}

figure{
	margin: 0;
}

/*
	TAMAÑOS
	ancho - width:  ;
	alto - heigth:  ;

MODELOS DE CAJA  -  BOX MODEL
	- width
	- heigth
	- padding
	- border
		border-style (solid, dashed, dotted, double)
		border-width
		border-color
		border: ;
	- margin    auto va a centrar todo segun la pantalla
*/

.main-header{
				width: 1200px;
				margin: auto;
				border: solid 1px red;
				padding: 20px 0;
}

.logo{
		float: left;
		border: solid 1px green;
}

.main-nav{
			float: right;
			border: solid 1px yellow;
			background-color: red;
}

.cleaner{
			clear: both;
			/* el cleaner va a evitar que el contenedor header quede con altura cero*/
}

.main-nav li{
				float: left;
				margin: 8px 0 0 15px; 
}

#banner{
			background: url(../images/indexbanner-bg3.jpg) center top no-repeat;
			background-size: cover; /* imagen de fondo va a ocupar todo el espacio de la caja banner*/
			
}

.conteiner{
			width: 1200px;
			margin: auto;
			
}
.banner-title{
				font-size: 50px;
				color: #fff;
				padding-top: 150px;
				margin: 0;
}
.banner-text{
				font-size: 20px;
				color: white;
}
.register{
			background-color: white;
			position: relative;  /* desplazar el elemento en relacion a donde esta. desde arriba (top) 30px para abajo*/
			top: 30px;

}

.register input{
					width: 1000px;
					height: 60px;
					font-size: 16px;
					font-family: inherit;
					float: left;
}
.register button{
					border: none;
					background-color: #06b4f2;
					width: 200px;
					height: 60px;
					font-size: 16px;
					font-family: inherit;
					color: white;
					float: left;

}

.producto{
			border: dashed 1px green;
			width: 300px;
			text-align: center;
			float: left;
			margin-top: 100px;


}